<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27113293071-h5bca40lg02spkptnj20ssbr32al714j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27113293071-h5bca40lg02spkptnj20ssbr32al714j</string>
	<key>API_KEY</key>
	<string>AIzaSyABlIJ7U74yG6uvZ7DH8YQTTV4PZ1fgQdY</string>
	<key>GCM_SENDER_ID</key>
	<string>27113293071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alperentoksoz.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-f1fc5</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-f1fc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27113293071:ios:829bfde32f35cac370aa7a</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-f1fc5.firebaseio.com</string>
</dict>
</plist>